<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


		body {
		  font-family: Arial, Helvetica, sans-serif;
		  font-size: 20px;
		}


</style>

<h1>Welcome to 121 fitness</h1>



<h1> Different Classes </h1>
<h2> Spinning </h2> 
<img src="/studio/public/img/spinning.jpg" alt="spinning" style="width:400px;height:200px";/>
<h2> Boxing </h2>
<img src="/studio/public/img/boxing.jpg" alt="boxing" style="width:400px;height:200px";/>
<h2> Warrior </h2>
<img src="/studio/public/img/warrior.jpg" alt="warrior" style="width:400px;height:200px";/>
<br></br>

<h1> Our Location </h1>
<img src="/studio/public/img/map.png" alt="map" style="width:1000px;height:500px";/>
<br></br>







</body>
</html>