{{ content() }}
<div class="jumbotron">
    <h1>Internal Error</h1>
    <p>Something went wrong, please contact the website administrator</p>
    <p>{{ link_to('index', 'Home', 'class': 'btn btn-primary') }}</p>
</div>