<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search Booking
    </h1>
    
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "Booking/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>


<div class="form-group">
    <label for="fieldBookingdate" class="col-sm-2 control-label">Booking date <br>(yyyy-mm-dd)</br></label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["bookingdate", "type" => "date", "class" => "form-control", "id" => "fieldBookingdate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStarttime" class="col-sm-2 control-label">Start time <br>(24:00)</br></label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["starttime", "size" => 30, "class" => "form-control", "id" => "fieldStarttime"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEndtime" class="col-sm-2 control-label">End time <br>(24:00)</br></label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["endtime", "size" => 30, "class" => "form-control", "id" => "fieldEndtime"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMemberid" class="col-sm-2 control-label">Member Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["memberid", "type" => "number", "class" => "form-control", "id" => "fieldMemberid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldWorkoutid" class="col-sm-2 control-label">Workout Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["workoutid", "type" => "number", "class" => "form-control", "id" => "fieldWorkoutid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldFee" class="col-sm-2 control-label">Fee</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["fee", "type" => "number", "class" => "form-control", "id" => "fieldFee"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #c2c2a3;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c2c2a3;
}
tr:nth-child(odd) {
    background-color: #f5f5f0;
}
</style>
</head>
<body>

<div class="page-header">
    <h1>
        Workout ID
    </h1>
</div>


<table>
  <tr>
    <th>Workout</th>
    <th>ID</th>
  </tr>
  <tr>
    <td>Spinning</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Boxing</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Warrior</td>
    <td>3</td>
  </tr>
  
</table>

<BR></br>

<?php echo $this->tag->endForm(); ?>
