<html>
        <title>Some amazing website</title>

        <?php $this->assets->outputJs("fullCalendar"); ?>
        <?php $this->assets->outputCss("fullCalendar"); ?>
		
		<script>
			$(document).ready(function() {
				$('#calendar').fullCalendar({
						header: {
							left: 'prev,next today',
							center: 'title',
							right: 'month,agendaWeek,agendaDay,listWeek'
						},
						defaultDate: '2018-02-12',
						editable: true,
						navLinks: true,
						eventLimit: true,
						events: '/tennisClub/event/json',
						});
				});
			</script>
			<div id='calendar'></div>
			<br></br>
</html>    