<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>



<div class="page-header">
    <h1>
        Create Member
    </h1>
</div>

<?php echo $this->getContent(); ?>

<style>
* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
tr:nth-child(even) {
    background-color: #c2c2a3;
}
tr:nth-child(odd) {
    background-color: #f5f5f0;
}
</style>
<?php
    echo $this->tag->form(
        [
            "member/create",
            "autocomplete" => "off",
            "class" => "form-horizontal",
	    "enctype" => "multipart/form-data"
        ]
    );
?>

<div class="form-group">
    <label for="fieldFirstname" class="col-sm-2 control-label">Firstname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["firstname", "size" => 30, "class" => "form-control", "id" => "fieldFirstname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSurname" class="col-sm-2 control-label">Surname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["surname", "size" => 30, "class" => "form-control", "id" => "fieldSurname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMembertype" class="col-sm-2 control-label">Membertype</label>
    <div class="col-sm-10">
        <select name="membertype" class="form-control">
			<option value="standard">Standard</option>
			<option value="premium">Premium</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldDateofbirth" class="col-sm-2 control-label">Dateofbirth</label>
    <div class="col-sm-10" >
        <?php echo  $this->tag->dateField(["dateofbirth", "type" => "date", "class" => "form-control", "id" => "fieldDateofbirth"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPhoneno" class="col-sm-2 control-label">PhoneNo</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["phoneNo", "size" => 30, "class" => "form-control", "id" => "fieldPhoneno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldImageFile" class="col-sm-2 control-label">Upload your Image</label>
    <div class="col-sm-10">
        <?php echo $this->tag->fileField(["imageFile", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>
<div class="columns">
  <ul class="price">
    <li class="header">Standard</li>
    <li class="grey">€25 / month</li>
    <li class="grey">€275 / year</li>
    <li class="grey">Discounted classes</li>
    <li class="grey">Free meal plan</li>
    <li class="grey">Discounted personal trainer</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#ffcc00">Premium</li>
    <li class="grey">€50 / month</li>
    <li class="grey">€550 / year</li>
    <li class="grey">Free classes </li>
    <li class="grey">Free meal plan</li>
    <li class="grey">Free personal trainer</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>
<?php echo $this->tag->endForm(); ?>
