<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["Workout", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit Workout
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "Workout/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldClass" class="col-sm-2 control-label">Class</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["class", "size" => 30, "class" => "form-control", "id" => "fieldClass"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStudio" class="col-sm-2 control-label">Studio</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["studio", "type" => "number", "class" => "form-control", "id" => "fieldStudio"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldWeights" class="col-sm-2 control-label">Weights</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["weights", "type" => "number", "class" => "form-control", "id" => "fieldWeights"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
