<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search Workout
    </h1>
    
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "Workout/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldClass" class="col-sm-2 control-label">Class</label>
    <div class="col-sm-10">
        <select name="class" class="form-control">
			<option value="spinning">Spinning</option>
			<option value="boxing">Boxing</option>
			<option value="warrior">Warrior</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldStudio" class="col-sm-2 control-label">Studio</label>
    <div class="col-sm-10">
        <select name="studio" class="form-control">
			<option value="0">Arena</option>
			<option value="1">gymfloor</option>
			<option value="2">mainstudio</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldWeights" class="col-sm-2 control-label">Weights</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["weights", "type" => "number", "class" => "form-control", "id" => "fieldWeights"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
