<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>



<div class="page-header">
    <h1>
        Create Workout
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "Workout/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldClass" class="col-sm-2 control-label">Class</label>
    <div class="col-sm-10">
        <select name="class" class="form-control">
			<option value="spinning">Spinning</option>
			<option value="boxing">Boxing</option>
			<option value="warrior">Warrior</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldStudio" class="col-sm-2 control-label">Studio</label>
    <div class="col-sm-10">
        <select name="studio" class="form-control">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldWeights" class="col-sm-2 control-label">Weights</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["weights", "type" => "number", "class" => "form-control", "id" => "fieldWeights"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
