<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #c2c2a3;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c2c2a3;
}
tr:nth-child(odd) {
    background-color: #f5f5f0;
}
</style>

<div class="row">
    <nav>
        <ul class="pager">
         
            <li class="next"><?php echo $this->tag->linkTo(["Workout/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Class</th>
            <th>Studio</th>
            <th>Weights</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $workout): ?>
            <tr>
                <td><?php echo $workout->getId() ?></td>
            <td><?php echo $workout->getClass() ?></td>
            <td><?php echo $workout->getStudio() ?></td>
            <td><?php echo $workout->getWeights() ?></td>

                <td><?php echo $this->tag->linkTo(["Workout/edit/" . $workout->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["Workout/delete/" . $workout->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("Workout/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("Workout/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("Workout/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("Workout/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
