<!DOCTYPE html>
<html>
    <head>
	
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Phalcon PHP Framework</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
    </head>
    <body>
	<style>
			body {
				background-color: #b34d4d;
			}

			h1 {
				color: white;
				text-align: center;
			}

			p {
				font-family: verdana;
				font-size: 20px;
			}

			h1 {
				background-color: #adad85;
			}

			body {
					 font-family: Arial, Helvetica, sans-serif;
					 font-size: 20px;
				}
</style>
		
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost/studio/index" img src="/studio/public/img/logo.png" alt="Mountain View"/>121 Fitness</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost/studio/index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
	  
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Member
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost/studio/member/search">Search</a></li>
          <li><a href="http://localhost/studio/member/new">Create</a></li>
        </ul>
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Workout
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost/studio/workout/search">Search</a></li>
          <li><a href="http://localhost/studio/workout/new">Create</a></li>
        </ul>
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Booking
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost/studio/booking/search">Search</a></li>
          <li><a href="http://localhost/studio/booking/new">Create</a></li>
        </ul>
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://localhost/studio/user/search">Search</a></li>
          <li><a href="http://localhost/studio/user/authorize">Create</a></li>
        </ul>
      </li>
	  <li><a href="http://localhost/studio/member/fullCalendar">Calendar</a></li>
	  
	  <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost/studio/user/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="http://localhost/studio/user/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
	  <li><a href="http://localhost/studio/user/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
	  
	  
    </ul>
  </div>
 
</nav>
				<img src="/studio/public/img/logo.png" alt="logo" style="width:400px;height:200px";/>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<div class="container">
            <?php echo $this->getContent(); ?>
        </div>

    </body>
</html>
